<section>
  <div class="px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-36">
    <div class="justify-center max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">Typography</p>
    </div>
    <div class="pb-5 mt-12 border-b border-white/5 lg:mt-24">
      <h3 class="text-base font-semibold leading-6 text-white">
        Titles and headlines
      </h3>
    </div>
    <div>
      <dl class="divide-y divide-white/10">
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Title h1</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-4xl, sm:text-5xl</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-tighter</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div
              class="text-4xl font-normal tracking-tighter text-white sm:text-5xl"
            >
              Lexington Themes
            </div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Title h2</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-3xl</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-tighter</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div class="text-3xl font-normal text-white trackingt-tight">
              Lexington Themes
            </div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Title h2</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-medium</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-lg, lg:text-xl</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div class="text-lg font-medium text-white lg:text-xl">
              Lexington Themes
            </div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Subtitle</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-semibold</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-base</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div class="text-base font-semibold text-white">Lexington Themes</div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Paragraph</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-base</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div class="text-base text-vulcan-300">Lexington Themes</div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Body</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-base</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div class="text-base text-vulcan-300">Lexington Themes</div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Tag</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-sm</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div
              class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
            >
              Lexington Themes
            </div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Small/Caption</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-sm</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div
              class="text-xs text-vulcan-300"
            >
              Lexington Themes
            </div>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">List</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-sm</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <ul class="list-none" role="list">
              <li>
                <div class="relative flex items-center py-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M9 12l2 2l4 -4"></path>
                  </svg>
                  <p class="ml-2 text-sm text-vulcan-300">Lexington Themes</p>
                </div>
              </li>
              <li>
                <div class="relative flex items-center py-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 text-indigo-400 icon icon-tabler icon-tabler-circle-check"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                    <path d="M9 12l2 2l4 -4"></path>
                  </svg>
                  <p class="ml-2 text-sm text-vulcan-300">Lexington Themes.</p>
                </div>
              </li>
            </ul>
          </dd>
        </div>
        <div class="py-6 sm:grid lg:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium text-white">Bloquote</dt>
          <dd class="flex flex-col mt-1 text-sm text-vulcan-300 sm:mt-0">
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Family:</span>
              <span> Inter</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Weight:</span>
              <span> font-normal</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Font Size:</span>
              <span> text-sm</span>
            </div>
            <div class="inline-flex items-center gap-2">
              <span class="font-semibold text-white">Letter spacing:</span>
              <span> tracking-normal</span>
            </div>
          </dd>
          <dd class="mt-1 sm:mt-0">
            <div>
              <div
                class="prose prose-blockquote:border-l-white prose-a:text-indigo-500 hover:prose-a:text-white prose-headings:font-normal prose-headings:text-white prose-li:marker:text-indigo-500 text-vulcan-300 prose-code:text-white prose-blockquote:text-white/70"
              >
                <blockquote>Lexington Themes </blockquote>
              </div>
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
